<?xml version="1.0"?>
<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" name="PHP_CodeSniffer" xsi:noNamespaceSchemaLocation="phpcs.xsd">

    <rule ref="vendor/outsanity/phpcs/Outsanity/ruleset.xml" />

    <file>bin</file>
    <file>src</file>

    <rule ref="Squiz.Commenting.FunctionComment.EmptyThrows">
        <exclude-pattern>src/*</exclude-pattern>
    </rule>

</ruleset>
